replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/learning-481011/learning/backend-stag
  pullPolicy: Always
  tag: 3fdfc7d
service:
  type: ClusterIP
  port: 80
  targetPort: 8080
ingress:
  enabled: true
  host: ""
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 200Mi
readinessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3
livenessProbe:
  httpGet:
    path: /api/health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20
env:
  - name: PORT
    value: "8080"
  - name: JWT_SECRET
    secretKey: JWT_SECRET
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 90
backendConfig:
  enabled: true
  healthCheckPath: /api/health
  port: 8080
secrets:
  jwtSecretKey: JWT_SECRET_STAG
frontend:
  serviceName: frontend-staging-my-frontend-app
  port: 80
